.padding {padding-left: 10%; padding-right: 10%;}
#error {background-color: red; color: maroon}
#block-error {background-color: red; color: maroon}
.floated {
    float:left;
    margin-right:5px;
 }

#unit-label{color: grey}

.glyphicon.glyphicon-arrow-right{
    font-size: 25px;
}
